.register-container {
  background-color: #e2e2e2;
  height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  left: 8.5%;
  top: 13%;
  color: #1c0f13;
}

.register-screen {
  display: flex;
  justify-content: space-between;
}

img {
  opacity: 0.6;
  filter: alpha(opacity=40);
  box-shadow: 0 4px 5px grey;
  object-fit: cover;
  height: 680px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-container {
  display: flex;
  align-items: center;
  margin: auto;
  height: 500px;
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 5px grey;
}

label {
  padding-bottom: 8px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 30px;
}

input {
  height: 30px;
  border: solid 2px lightgrey;
  border-style: solid;
}

.submit-button {
  width: 100px;
}

p {
  padding-top: 15px;
}

p a {
  color: lightblue;
  font-weight: bold;
  cursor: pointer;
}
